body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u1897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:59px;
  display:flex;
}
.u1897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1898 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:13px;
  width:215px;
  height:19px;
  display:flex;
}
.u1898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u1899 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:33px;
  width:215px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#999999;
}
.u1899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1900 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:21px;
  width:16px;
  height:16px;
  display:flex;
}
.u1900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u1901 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:22px;
  width:14px;
  height:14px;
  display:flex;
}
.u1901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1896-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:59px;
}
#u1896-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:300px;
  height:59px;
}
#u1896-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:300px;
  height:59px;
}
#u1896-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:300px;
  height:59px;
}
#u1896-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:300px;
  height:59px;
}
#u1896-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:295px;
  width:300px;
  height:59px;
}
#u1896-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:354px;
  width:300px;
  height:59px;
}
#u1896-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:413px;
  width:300px;
  height:59px;
}
#u1896-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:472px;
  width:300px;
  height:59px;
}
#u1896-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:531px;
  width:300px;
  height:59px;
}
#u1896-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:590px;
  width:300px;
  height:59px;
}
#u1896-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:649px;
  width:300px;
  height:59px;
}
#u1896-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:708px;
  width:300px;
  height:59px;
}
#u1896-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:767px;
  width:300px;
  height:59px;
}
#u1896-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:826px;
  width:300px;
  height:59px;
}
#u1896-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:885px;
  width:300px;
  height:59px;
}
#u1896-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:944px;
  width:300px;
  height:59px;
}
#u1896-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1003px;
  width:300px;
  height:59px;
}
#u1896-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1062px;
  width:300px;
  height:59px;
}
#u1896-20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1121px;
  width:300px;
  height:59px;
}
#u1896-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1180px;
  width:300px;
  height:59px;
}
#u1896-22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1239px;
  width:300px;
  height:59px;
}
#u1896-23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1298px;
  width:300px;
  height:59px;
}
#u1896-24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1357px;
  width:300px;
  height:59px;
}
#u1896-25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1416px;
  width:300px;
  height:59px;
}
#u1896-26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1475px;
  width:300px;
  height:59px;
}
#u1896-27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1534px;
  width:300px;
  height:59px;
}
#u1896-28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1593px;
  width:300px;
  height:59px;
}
#u1896-29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1652px;
  width:300px;
  height:59px;
}
#u1896-30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1711px;
  width:300px;
  height:59px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1770px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
